body {
    display: grid;
    place-items: center;
    padding: 2rem 0;
}

.button-wrapper {
    padding: 1rem 0;
}

.form-wrapper {
    padding: 1rem 0;
}

button {
    border: 2px solid black;
    background-color: white;
    border-radius: 15px;
    padding: 0.3rem 1rem;
    margin-right: 1rem;
}

button:hover {
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 0.2rem 1rem;
}

button:focus {
    outline: 0;
}

h1 {
    font-size: 30px;
    font-weight: bolder;
}

h2 {
    font-size: 24px;
}

.content {
    width: 30rem;
    padding: 1rem 0;
}

.list {
    display: flex;
    height: 5rem;
}

.list-item {
    position: relative;
    background-color: #fcd5ce;
    color: #b5838d;
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    display: grid;
    place-items: center;
}

@keyframes newElementAdded {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.add {
    animation: 300ms ease-out 0s 1 newElementAdded;
    -webkit-animation: 300ms ease-out 0s 1 newElementAdded;
}

@keyframes elementRemoved {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.pop {
    animation: 300ms ease-out 0s 1 elementRemoved;
    -webkit-animation: 300ms ease-out 0s 1 elementRemoved;
}

@keyframes elementDequeued {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}

.dequeue {
    animation: 1000ms ease-out 0s 1 elementDequeued;
    -webkit-animation: 1000ms ease-out 0s 1 elementDequeued;
}

@keyframes elementMovedLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-2.5rem);
    }
}

.move-left {
    animation: 300ms ease-out 0s 1 elementMovedLeft;
    -webkit-animation: 300ms ease-out 0s 1 elementMovedLeft;
}

.form {
    padding: 0;
}

.linked-list input {
    width: 1.5rem;
    margin: 0.5rem;
}

.list-item.linked-list {
    cursor: pointer;
}

.list-item.linked-list.clicked {
    width: calc(2rem - 4px);
    height: calc(2rem - 4px);
    border: 2px solid #b5838d;
}

.linked-list-comment {
    padding-top: 0.5rem;
}